[Desktop Entry]
Name=vizier URL Handler
GenericName=vizier-agent
Comment=Handle URL Scheme 
REPLACE_WITH_EXEC_PATH %u
Terminal=true
Type=Application
MimeType=x-scheme-handler/x-vizier-client;
Categories=TextEditor;
Name[en_US]= vizier agent handler
